.ropeproject
/tags
/.idea
*.pyc
/debug.log*
/media/
/assets/
/ansible-deployment/sandbar-ansible.zip
/ansible-deployment/sandbar-source.zip
/ansible-deployment/config.yml
/static/sites/
/templates/sites/
/templates/redirect/
/templates/robots.txt
celerybeat-schedule
env/
/logs/
/sandbar/settings.py
*.iml
venv
/nohup.out
/sandbar_uwsgi.log
