{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block content %}
{% if oauth_consumer %}
    <form id='campaign_edit' class='oauth_consumer_edit form-horizontal' action="/oauth-consumers/edit/{{ oauth_consumer.id }}/" method='POST'>
{% elif request.POST.id %}
    <form id='campaign_edit' class='oauth_consumer_edit form-horizontal' action="/oauth-consumers/edit/{{ request.POST.id }}/" method='POST'>
{% else %}
    <form id='campaign_edit' class='oauth_consumer_edit form-horizontal' action="/oauth-consumers/add/" method='POST'>
{% endif %}
    {% csrf_token %}
    <fieldset id="oauth_consumer" class="">
        <legend>OAuth Consumer</legend>
        {% bootstrap_field form.oac_id layout='horizontal' %}
        {% bootstrap_field form.name layout='horizontal' %}
        {% bootstrap_field form.description layout='horizontal' %}
        {% bootstrap_field form.client_id layout='horizontal' %}
        {% bootstrap_field form.client_secret layout='horizontal' %}
        {% bootstrap_field form.scope layout='horizontal' %}
        {% bootstrap_field form.callback_url layout='horizontal' %}
        {% bootstrap_field form.bounce_url layout='horizontal' %}
        <div class="clearer"></div>
        <div class="form-group">
            <div class="col-md-3"></div> <div class="col-md-9">
                <div class="submit_block">
                    <a href="/oauth-consumers/list" class="btn btn-default" id="back-to-list" title="Return to the OAuth Consumers list">Back To List</a>
                    <input type="submit" class="btn btn-primary" id="sub" value="Save" title="Save OAuth Consumer changes" />
                </div>
            </div>
        </div>
        <div class="clearer"></div>
    </fieldset>
    </form>
{% endblock %}
