{% extends "base.html" %}
{% load bootstrap3 %}
{% load ordering %}
{% block content %}
<table border="0" cellspacing="0" cellpadding="0" class="table table-hover">
    <thead>
        <tr>
            <th style='width: 50px'>ID</th>
            <th>
                Protocol
                {% if 'protocol' in sorting and '-protocol' not in sorting %}
                    <a class="glyphicon glyphicon-sort-by-alphabet text-danger" href="{% order_filter sorting request '-protocol' %}"></a>
                {% elif '-protocol' in sorting %}
                    <a class="glyphicon glyphicon-sort-by-alphabet-alt text-danger" href="{% order_filter sorting request 'protocol' %}"></a>
                {% else %}
                    <a class="glyphicon glyphicon-sort-by-alphabet" href="{% order_filter sorting request 'protocol' %}"></a>
                {% endif %}
            </th>
            <th>
                Domain Name
                {% if 'domain_name' in sorting and '-domain_name' not in sorting %}
                    <a class="glyphicon glyphicon-sort-by-alphabet text-danger" href="{% order_filter sorting request '-domain_name' %}"></a>
                {% elif '-domain_name' in sorting %}
                    <a class="glyphicon glyphicon-sort-by-alphabet-alt text-danger" href="{% order_filter sorting request 'domain_name' %}"></a>
                {% else %}
                    <a class="glyphicon glyphicon-sort-by-alphabet" href="{% order_filter sorting request 'domain_name' %}"></a>
                {% endif %}
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
    {% for phishing_domain in objects %}
        <tr>
            <td> {{ phishing_domain.id }} </td>
            <td> <a title="Edit" href="/phishing-domains/edit/{{ phishing_domain.id }}">{{ phishing_domain.protocol }}</a></td>
            <td> <a title="Edit" href="/phishing-domains/edit/{{ phishing_domain.id }}">{{ phishing_domain.domain_name }}</a></td>
            <td style="width: 50px; text-align: center;">
                <a class="glyphicon glyphicon-pencil" title="Edit" href="/phishing-domains/edit/{{ phishing_domain.id }}"></a>
                <a class="glyphicon glyphicon-remove" title="Remove" onclick="removeEntity('phishing-domains', {{ phishing_domain.id }})"></a>
            </td>
        </tr>
    {% endfor %}
        <tr>
            <td colspan="3"> <a title="Add Phishing Domain" href="/phishing-domains/add/">Add Phishing Domain</a> </td>
        </tr>
    </tbody>
</table>

{% with order_by="order_by="|add:sorting %}
{% bootstrap_pagination page extra=order_by %}
{% endwith %}
{% endblock content %}
