{% extends "base.html" %}
{% load bootstrap3 %}
{% load ordering %}
{% block content %}
<table border="0" cellspacing="0" cellpadding="0" class="table table-hover">
    <thead>
        <tr>
            <th style='width: 50px'>ID</th>
            <th>
                Name
                {% if 'name' in sorting and '-name' not in sorting %}
                    <a class="glyphicon glyphicon-sort-by-alphabet text-danger" href="{% order_filter sorting request '-name' %}"></a>
                {% elif '-name' in sorting %}
                    <a class="glyphicon glyphicon-sort-by-alphabet-alt text-danger" href="{% order_filter sorting request 'name' %}"></a>
                {% else %}
                    <a class="glyphicon glyphicon-sort-by-alphabet" href="{% order_filter sorting request 'name' %}"></a>
                {% endif %}
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
    {% for schedule in objects %}
        <tr>
            <td> {{ schedule.id }} </td>
            <td> <a title="Edit" href="/schedules/edit/{{ schedule.id }}">{{ schedule.name }}</a></td>
            <td style="width: 50px; text-align: center;">
                <a class="glyphicon glyphicon-pencil" title="Edit" href="/schedules/edit/{{ schedule.id }}"></a>
                <a class="glyphicon glyphicon-remove" title="Remove" onclick="removeEntity('schedules', {{ schedule.id }})"></a>
            </td>
        </tr>
    {% endfor %}
        <tr>
            <td colspan="3"> <a title="Add Schedule" href="/schedules/add/">Add Schedule</a> </td>
        </tr>
    </tbody>
</table>
    
{% with order_by="order_by="|add:sorting %}
{% bootstrap_pagination page extra=order_by %}
{% endwith %}
{% endblock content %}
